.body {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 0px 6%;
    transition: all 0.3s ease-in-out;
}

.content {
    max-width: 548px;
    min-width: 548px;
    transition: all 0.3s ease-in-out;
}

.content p {
    color: #828282;
    font-size: 18px;
    margin-top: 32px;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    line-height: 29px;
    font-weight: normal;
    text-align: justify;
    max-width: 500px;
}

h1 {
    color: #333333;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-size: 55px;
}

.buttons {
    margin-top: 32px;
    display: flex;
    gap: 12px;
}


.resume-btn {
    background-color: #fdc435;
    border: none;
    width: 115px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    margin-top: 32px;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.20);
    transition: all 0.3s;
}

.resume-btn:hover {
    color: #f9faff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.resume-btn.clicked {
    transform: scale(0.95);
}

.bubble {
    width: 524px;
    height: 524px;
    border-radius: 50%;
    background-color: #fdc435;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.bubble img {
    object-fit: cover;
    width: 1080px;
    height: 1180px;
}


@media (max-width: 1300px) {
    .bubble {
        width: 300px;
        height: 300px;
    }

    .bubble img {
        object-fit: cover;
        width: 800px;
        height: 800px;
    }
}

@media (max-width: 984px) {
    h1 {
      font-size: 40px;
    }
    .content {
        max-width: 350px;
        min-width: 400px;
    }
    .content p {
        font-size: 15px;
        line-height: 24px;
    }
}

@media (max-width: 840px) {
    .bubble {
        width: 250px;
        height: 250px;
    }

    .bubble img {
        object-fit: cover;
        width: 600px;
        height: 600px;
    }
    .content {
        max-width: 300px;
        min-width: 400px;
    }
    .content p {
        font-size: 13px;
        line-height: 20px;
    }
    h1 {
        font-size: 35px;
    }
}